---
layout: default
---

<article class="post">
  <div class="post-path">
    <a href="/"><span class="material-symbols-outlined">home</span></a>
    &nbsp;&#xE001;&nbsp;
    <a href="/search/?category={{ post.category }}">{{ page.category }}</a>
    &nbsp;&#xE001;&nbsp;
    {{ page.title }}
  </div>
  
  <center class="post-title">
      <h1>{{ page.title }}</h1>
      <div class="post-info">
        {% if page.category %}{{ page.category }}&nbsp;&bull;&nbsp;{% endif %}{{ page.date | date: "%Y.%m.%d" }}{% if page.author %}&nbsp;&bull;&nbsp;{{ page.author }}{% endif %}
      </div>
  </center>

  <div class="entry">{{ content }}</div>

  <br />

  <div>
    <ul class="tags post-tags cf">
      <li>Tag:</li>
      {% for tag in page.tags %}
      <li><a href="/search/?tags={{ tag }}">#{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br />

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>

<!-- responsive video js -->
<script src="/js/fluidvids.js"></script>
